@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

body {
  max-width: 700px;
  margin: auto;
  padding: 16px;
  background-color: #f7e1da;
  color: #463F3A;
  font-family: 'Playfair Display', serif;
  text-align: center;
}

#main {
  text-align: center;
  padding: 8px;
  font-family: 'Caveat Brush';
  font-size: 48px;
  margin: 5px;
}

h1 {
  font-size: 32px;
  color: #A84738;
}

h2 {
  color: #A84738;
  margin-top: 20px;
  border-bottom: solid #A84738;
  padding-bottom: 10px;
}

img {
  display: block;
  margin: auto;
  border-radius: 10px;
}

ul,
ol {
  margin: 15px;
  line-height: 1.6em;
  padding-left: 0px;
  list-style: none;
}

li {
  margin-bottom: 10px;
}

a {
  font-family: 'Merienda';
  text-decoration: none;
  border: 2px solid #A84738;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  
  display: inline-block;
  background-color: #A84738;
  color: #f7e1da;
  width: 250px;
}

#Home {
  display: block;
  margin-right: auto;
  width: 100px;
  padding: 2px;
}

a:hover {
  background-color: #6C7543;
  border-color: #6C7543;
}
